{% import _self as menus %}


<div class="col-md-8 col-sm-8 col-xs-12">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<h5 class="heading">Enlaces Rápidos</h5>
		</div>
    <nav class="col-md-12 col-sm-12 col-xs-12">
      {% set level = 1 %}
      {{ menus.menu_links(items, attributes, 0) }}
		</nav>
	</div>
</div>

{% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}
        <ul>
            {% for key, item in items %}
                {% if (loop.index is even) %}
                    <li class="col-lg-4 col-xs-6 even">
                        <a href="{{ item.uri }}"><i class="fa fa-angle-right"></i>{{ item.title }}</a>
                    </li>
                {% else %}
                    <li class="col-lg-4 col-xs-6 odd">
                        <a href="{{ item.uri }}"><i class="fa fa-angle-right"></i>{{ item.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
