{# <section class="content advanced-component standard-components">#}
{#     <div class="container">#}
{#         <div class="row">#}
{#             <div class="col-md-8 col-md-offset-2 col-xs-12" role="main">#}
{#                 <div class="page_component codeblock">#}
{#                     <object id="becchartframe" width="100%" height="700"#}
{#                             data="http://www.bmcbec.com.co/App_Plugins/BECCharts/front-end/transaccional-MP-IS.cshtml"#}
{#                             style="height:700px; border:0;" scrolling="no">#}
{#                     </object>#}
{#                     <style>#}
{#                         #pos_2093 + section > div {#}
{#                             width: 100% !important;#}
{#                             margin: 0;#}
{#                             padding: 0;#}
{#                         }#}
{#                     </style>#}
{#                 </div>#}
{#             </div>#}
{#         </div>#}
{#     </div>#}
{# </section>#}

{% set info = enviar_post_ws('getCantidadContratadaPuntoEntrega', 'puntoTramo=39&pCodigoModalidad=1', 1, 1, 'tipo_produccion', 'punto_de_entrada,desc_campo_prod', 'cantidad')  %}

{{ attach_library('bmcbec/chartJS') }}

<div class="well" align="center">
    <div class="bmcbec-dp-right">
        <form method="post" action="">
            <select name="paramsFilter[puntoTramo]">
                <option value="" selected>-- Todos los Puntos de Entrega --</option>
                <optgroup label="Elegir Punto de Entrega">
                    <option value="39"  selected >BALLENA</option>
                    <option value="12" >CUSIANA</option>
                    <option value="40" >LA CRECIENTE</option>
                </optgroup>
            </select>
            <select name="paramsFilter[pCodigoModalidad]">
                <option value="" selected>-- Todas --</option>
                <optgroup label="Elegir Modalidad">
                    <option value="21" >C1</option>
                    <option value="22" >C2</option>
                    <option value="5" >CON INTERRUPCIONES</option>
                    <option value="6" >CONTINGENCIA</option>
                    <option value="1"  selected >FIRME</option>
                    <option value="23" >FIRME AL 95%</option>
                    <option value="2" >FIRMEZA CONDICIONADA</option>
                    <option value="3" >OPCI&#211;N DE COMPRA</option>
                    <option value="4" >OPCI&#211;N DE COMPRA CONTRA EXP</option>
                    <option value="16" >OTRAS</option>
                    <option value="8" >TAKE OR PAY</option>
                </optgroup>
            </select>
            <input type="submit" value="Consultar" class="bmcbec-dp-button" />
        </form>
    </div>
    <div class="bmcbec-dp-fix"></div>
</div>
<div class="bmcbec-fix"></div>

<!-- GRAPHIC CONSTRUCTOR -->
{# <div class="canvas-holder-text">#}
{#     <h4><text>Resultados:</text></h4>#}
{#     <p>Se est&#225; mostrando informaci&#243;n de  181 resultados encontrados con los filtros aplicados.</p>#}
{#     <p>Encuentre informaci&#243;n detallada en la Tabla de Resultados.</p>#}
{# </div>#}

{{ include('resultados_info.html.twig', {"info": info}) }}

<div class="canvas-holder">
    <h3 align="center">CANTIDAD CONTRATADA - PUNTO DE ENTREGA</h3>
    <canvas id="chart" />
</div>
<script type="text/javascript">

{% if info['paramsFilter'] is not null %}
var puntoTramo = {{ info['paramsFilter']['puntoTramo'] }};
$("option[value=" + puntoTramo + "]").attr('selected', 'selected');

var pCodigoModalidad = {{ info['paramsFilter']['pCodigoModalidad'] }};
$("option[value=" + pCodigoModalidad + "]").attr('selected', 'selected');
{% endif %}

var randomColor = function(opacity) {
    return 'rgba(' + Math.round(Math.random() * 255) + ',' + Math.round(Math.random() * 255) + ',' + Math.round(Math.random() * 255) + ',' + (opacity || '.3') + ')';
};

var lineChartData = {
    labels: {{ info["labels"]|json_encode|raw }},
    datasets: [{
        label: "Firme (MBTUD)",
        data: {{ info["dataDataSets"]["capac_cant"]|json_encode()|raw }}
    }]
};

$.each(lineChartData.datasets, function(i, dataset) {
    var tempColor = randomColor(1);
        dataset.borderColor = tempColor;
        dataset.backgroundColor = tempColor;
        dataset.pointBorderColor = tempColor;
        dataset.pointBackgroundColor = tempColor;
        dataset.borderWidth = 9;
        dataset.pointBorderWidth = 0;
        dataset.pointHoverRadius = 0;
        dataset.pointHoverBorderWidth = 0;
        dataset.pointRadius = 0;
        dataset.pointHitRadius = 0;
});

window.onload = function () {
    var chartEl = document.getElementById("chart");
    window.myLine = new Chart(chartEl, {
        type: 'line',
        data: lineChartData,
        options: {
            responsive: true,
            title: {
                display:false,
                text: 'CANTIDAD CONTRATADA - PUNTO DE ENTREGA',
                fontSize: 16,
            },
            tooltips: {
                mode: 'label',
                enabled: true
                //custom: customTooltips
            },
            legend: {
                position: (/Android|webOS|iPhone|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) ? 'bottom' : 'top'
            }
        }
    });
};
</script>
<!-- END OF GRAPHIC CONSTRUCTOR -->
<div class="bmcbec-fix"></div>