{% set info = enviar_post_ws('getCapacidadMaximaMedianoPlazo', 'codigoOperador=228', 1, 1, '', '', 'cantidad')  %}

{# <link rel="stylesheet" type="text/css" href="http://www.bmcbec.com.co/App_Plugins/BECCharts/front-end/_bmcbec-charts.css">#}
<link rel="stylesheet" type="text/css" href="https://datatables.net/media/css/site.css">
{#<link rel="stylesheet" type="text/css" href="http://www.bmcbec.com.co/App_Plugins/BECCharts/front-end/datePicker/css/bootstrap.css">#}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jqc-1.12.4/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/cr-1.3.3/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jqc-1.12.4/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/cr-1.3.3/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.js"></script>
{# <script type="text/javascript" src="src/js/tables.js"></script>#}

{{ attach_library('bmcbec/tables') }}
{{ attach_library('bmcbec/chartJS') }}

<div class="well" align="center">
    <div class="bmcbec-dp-right">
        <form method="post" action="">
            <select name="paramsFilter[codigoOperador]">
                <optgroup label="Operadores">
                    <option value="71" >COINOBRAS GAS S.A. ESP</option>
                    <option value="213" >PROMIGAS S.A. E.S.P.</option>
                    <option value="193" >PROMIORIENTE S.A. E.S.P</option>
                    <option value="214" >PROMOTORA DE GASES DEL SUR S.A. E.S.P.</option>
                    <option value="211" >TRANSOCCIDENTE S.A. E.S.P.</option>
                    <option value="228"  selected >TRANSPORTADORA DE GAS INTERNACIONAL S.A. E.S.P. - TGI S.A. ESP</option>
                    <option value="205" >TRANSPORTADORA DE METANO E.S.P S.A</option>
                </optgroup>
            </select>
            <input type="submit" value="Consultar" class="bmcbec-dp-button" />
        </form>
    </div>
    <div class="bmcbec-dp-fix"></div>
</div>
<div class="bmcbec-fix"></div>


<!-- GRAPHIC CONSTRUCTOR -->
{# <div class="canvas-holder-text">#}
{#     <h4><text>Resultados:</text></h4>#}
{#     <p>Se est&#225; mostrando informaci&#243;n de  25 resultados encontrados con los filtros aplicados.</p>#}
{#     <p>Encuentre informaci&#243;n detallada en la Tabla de Resultados.</p>#}
{# </div>#}

{{ include('resultados_info.html.twig', {"numero_resultados": 25, "info": info}) }}

<div class="canvas-holder">
    <h3 align="center">CAPACIDAD MÁXIMA DE MEDIANO PLAZO</h3>
    <canvas id="chart" />
</div>
<script type="text/javascript">

{% if info['paramsFilter'] is not null %}
var codigoOperador = '{{ info['paramsFilter']['codigoOperador'] }}';
$("option[value=" + codigoOperador + "]").attr('selected', 'selected');
{% endif %}

var randomColorFactor = function() {
    return Math.round(Math.random() * 255);
};
var randomColor = function() {
    return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',.7)';
};

var barChartData = {
    labels: {{ info["labels"]|json_encode|raw }},
    datasets: [
        {% for key, dataSet in info["dataDataSets"] %}
        {
            hidden: false,
            label: "{{ key }}",
            data: {{ dataSet|json_encode|raw }}
        },
        {% endfor %}
    ]
};

$.each(barChartData.datasets, function(i, dataset) {
    dataset.borderColor = randomColor(0.4);
    dataset.backgroundColor = randomColor(0.5);
    dataset.pointBorderColor = randomColor(0.7);
    dataset.pointBackgroundColor = randomColor(0.5);
    dataset.pointBorderWidth = 1;
});

window.onload = function() {
    
     var chartEl = document.getElementById("chart");
    window.myLine = new Chart(chartEl, {
        type: 'line',
        data: barChartData,
        options: {
            responsive: true,
            maintainAspectRatio: true,
            title: {
                display: true,
                text: 'Unidades (KPCD)',
                fontSize: 16,
            },
            legend: {
                position: (/Android|webOS|iPhone|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) ? 'bottom' : 'top'
            }
        }
    });
};
</script>
<!-- END OF GRAPHIC CONSTRUCTOR -->

<!-- TABLE CONSTRUCTOR -->
<div class="table-holder">
<h4>Tabla de Resultados</h4>
<p class="alert alert-warning">Utilice las opciones de filtrado y ordenamiento para refinar los datos mostrados en la tabla.</p>
<table id="ResultTable" class="display" cellspacing="0" width="100%" scrolling="yes">
    <thead>
        <tr>
            <th>Transportador</th>
            <th>Tramo</th>
            <th>Capacidad Máxima de Mediano Plazo (KPCD)</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Transportador</th>
            <th>Tramo</th>
            <th>Capacidad Máxima de Mediano Plazo (KPCD)</th>
        </tr>
    </tfoot>
    <tbody>
    
    {% for key, data in info["dataTables"] %}
        <tr valign="top" align="left">
            <td>{{ data.trasportador }}</td>
            <td>{{ data.tramo }}</td>
            <td align="right" data-order={{ data.capacidad_maxima }}>{{ data.capacidad_maxima }}</td>
        </tr>
    {% endfor %}
    
    </tbody>
</table>
</div>

<!-- Begin - Export Option Table -->
<div id="table2export">
<table id="ResultTable1"></table>
</div>
<!-- END - Export Option Table -->

<script type="text/javascript">
$(document).ready(function() {
    $("#ResultTable thead").clone().appendTo("#ResultTable1");
    $("#ResultTable tfoot").clone().appendTo("#ResultTable1");
    $("#ResultTable tbody").clone().appendTo("#ResultTable1");
    dataTablesIni();
});
</script>
<!-- END OF TABLE CONSTRUCTOR -->
<div class="bmcbec-fix"></div>

<style>
    section p {
        font-size: 1em;
    }
</style>