{% if logged_in %}{% else %}
    <script>window.location.href = '/user/login'</script>{% endif %}
<section class="content advanced-component grid secondary_colour_2-bg">
    <div class="" data-os-animation="fadeIn" data-os-animation-delay="0">
        <div class="umb-grid">
            <div class="grid-section">
                <div>
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-md-6 column">
                                <div>
                                    {% set imagestyle = {
                                        '#theme':      'image_style',
                                        '#style_name': 'custom_720x462',
                                        '#uri':        node.field_image.entity.uri.value,
                                        '#alt':        '',
                                    } %}
                                    {{ imagestyle }}
                                </div>
                            </div>
                            <div class="col-md-6 column">
                                <div>
                                    <p><br><br></p>
                                    <h2 style="font-size: 40px;">{{ node.field_modulo_1.value }}</h2>
                                    <p><br><br><br></p>
                                    <p style="font-size: 20px;">
                                        <a href="{{ node.field_iframe.0.url }}" target="_blank"
                                           title="Escuela Bolsa Mercantil">
                                            Acceder Aquí &gt;
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content advanced-component standard-components">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12" role="main">
                <div class="page_component codeblock">
                    <iframe id="BI1" width="100%" height="900"
                            src="{{ node.field_bloque_2.0.url }}"
                            style="height:900px; border:0;" scrolling="no">
                    </iframe>
                    <style>
                        #pos_4003 + section > div {
                            width: 100% !important;
                            margin: 0;
                            padding: 0;
                        }

                        #pos_4003 + section > div > div > div {
                            width: 100% !important;
                            margin: 0;
                            padding: 0;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content advanced-component grid secondary_colour_1-bg">
    <div class="" data-os-animation="fadeIn" data-os-animation-delay="0">
        <div class="umb-grid">
            <div class="grid-section">
                <div>
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-md-6 column">
                                <div>
                                    <div class="text secondary_colour_3-text">
                                        {{ node.body.value | raw }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 column">
                                <div>
                                    <p>
                                        <iframe width="560" height="315"
                                                src="{{ node.field_video.0.url }}"
                                                frameborder="0" allow="autoplay; encrypted-media"
                                                allowfullscreen="">
                                        </iframe>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
<section class="content advanced-component standard-components">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12" role="main">
                <div class="page_component codeblock">
                    <iframe id="BI2" width="100%" height="900"
                            src="{{ node.field_bloque_3.0.url }}"
                            style="height:900px; border:0;" scrolling="no">
                    </iframe>
                    <style>
                        #pos_4005 + section > div {
                            width: 100% !important;
                            margin: 0;
                            padding: 0;
                        }

                        #pos_4005 + section > div > div > div {
                            width: 100% !important;
                            margin: 0;
                            padding: 0;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
</section>

{{ drupal_block('reports_prime_block') }}