<section class="content advanced-component banner">
    <div class="slides slick-initialized slick-slider">
        <div class="slick-list draggable" tabindex="0" style="height: 474px;">
            <div class="slick-track" style="opacity: 1; width: 1378px;">
                <div class="item short secondary_colour_3-bg odd slick-slide slick-active" index="0"
                     style="width: 1378px; position: relative; left: 0px; top: 0px; z-index: 900; opacity: 1;">
                    <div class="image">
                        {% set imagestyle = {
                            '#theme':      'image_style',
                            '#style_name': 'large',
                            '#uri':        node.field_imagen.entity.uri.value,
                            '#alt':        '',
                        } %}
                        {{ imagestyle }}
                    </div>
                    <div class="info">
                        <div class="container valign" style="margin-top: 237px;">
                            <!-- ROW -->
                            <div class="row">

                                <div class="col-md-6 col-xs-12 text-right pull-right">
                                </div>
                            </div>
                            <!--// ROW -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content advanced-component standard-components">
    <div class="container">
        <div class="row">
            <div id="mid_col" class="col-md-8 col-md-offset-2 col-xs-12" role="main">    <!-- PAGE COMPONENT TEXT -->
                <div class="page_component textblock">
                    <h2 style="text-align: justify; color: rgba(11,90,156,1);">{{ node.title.value }}</h2>
                    {{ node.body.value | raw }}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content advanced-component standard-components">
    <div class="container">
        <div class="row">
            <div class="" role="main">    <!-- PAGE COMPONENT CODE -->
                <div class="page_component codeblock">
                    <div class="map-fullsize">
                        <a href="{{ node.field_mapa.0.url }}" target="_blank">
                            Ver Mapa en pantalla completa...
                        </a>
                    </div>
                    <iframe class="becmap" width="100%" height="1750" src="{{ node.field_mapa.0.url }}" frameborder="0"
                            style="" scrolling="no">
                    </iframe>
                    <style>
                        .map-fullsize {
                            text-align: right;
                            margin: 0 30px 10px 0;
                            font-size: 80%;
                        }

                        #pos_1381 + section > div {
                            width: 100% !important;
                            margin: 0;
                            padding: 0;
                        }

                        #pos_1381 + section > div > div > div {
                            width: 100% !important;
                            margin: 0;
                            padding: 0;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content advanced-component grid secondary_colour_3-bg">
    <div class="os-animation animated fadeIn" data-os-animation="fadeIn" data-os-animation-delay="0">
        <div class="umb-grid">
            <div class="grid-section">
                {% for icon in node.field_listado_c %}
                    {% if loop.index0 is divisible by(4) or  loop.index == 0 %}
                        <div class="container">
                        <div class="row clearfix">
                    {% endif %}
                    {% set imagestyle = {
                        '#theme':      'image_style',
                        '#style_name': 'custom_264x264',
                        '#uri':        icon.entity.uri.value,
                        '#alt':        '',
                    } %}
                    <div class="col-md-3 column">
                        <div>
                            {{ imagestyle }}
                            <h5 style="text-align: center;">{{ icon.0.alt }}</h5>
                        </div>
                    </div>
                    {% if loop.index == 5 %}
                        <div class="col-md-3 column">
                            <div>
                            </div>
                        </div>
                    {% endif %}
                    {% if loop.index is divisible by(4) and loop.index > 0 %}
                        </div>
                        </div>
                        <div class="container">
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if loop.index == 6 %}
                        <div class="col-md-3 column">
                            <div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="content advanced-component standard-components">
    <div class="container">
        <div class="row">
            <div id="mid_col" class="col-md-8 col-md-offset-2 col-xs-12" role="main">    <!-- PAGE COMPONENT ALERT -->
                <div class="page_component alert alert-warning alert-dismissible fade in" role="alert">
                    <div class="info">
                        <p>
                            {{ node.field_legal.value | raw }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>