{% if logged_in %}
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 itemprop="name headline">{{ node.title.value }}</h1>
                </div>
            </div>
            <div class="row">
                <div id="mid_col" class="col-sm-6 col-sm-push-3" role="main">
                    <div class="page_component image">
                        {% set imagestyle = {
                            '#theme':      'image_style',
                            '#style_name': 'large',
                            '#uri':        node.field_image.entity.uri.value,
                            '#alt':        '',
                        } %}
                        {{ imagestyle }}
                    </div>
                    <!--// IMAGE -->
                    <p style="padding-left: 30px;">
                        <span class="intro">{{ node.body.value | raw }}</span>
                    </p>
                    <div class="listing blog">
                        <div class="page_component alert alert-info alert-dismissible fade in" role="alert">
                            <div class="info"><h4>&nbsp;Descargue histórico <strong><em><a data-id="10547" href=""
                                                                                           target="_blank"
                                                                                           title="Histórico.xlsx">aquí</a></em></strong>
                                </h4></div>
                        </div>
                        <div class="page_component accordion">
                            <div class="panel-group" id="accordion" role="tablist">
                                {% if node.field_historial_archivos %}
                                    {% for anio in node.field_historial_archivos %}
                                        {% set loopAnio = loop.index %}
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="heading-{{ loopAnio }}">
                                                <p class="heading panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion"
                                                       href="#history-{{ loopAnio }}"
                                                       aria-controls="history-{{ loopAnio }}">
                                                        {{ anio.entity.field_fecha.value }}
                                                        <i class="fa fa-chevron-down pull-right after highlight"></i>
                                                    </a>
                                                </p>
                                            </div>
                                            <div id="history-{{ loopAnio }}" class="panel panel-default">
                                                {% for mes in anio.entity.field_mes %}
                                                    {% set loopMes = loop.index %}
                                                    <div class="panel-heading" role="tab"
                                                         id="heading-{{ loopAnio }}-{{ loopMes }}">
                                                        <p class="heading panel-title">
                                                            <a data-toggle="collapse"
                                                               data-parent="#heading-{{ loopAnio }}"
                                                               href="#history-{{ loopAnio }}-{{ loopMes }}"
                                                               aria-controls="history-{{ loopAnio }}-{{ loopMes }}">
                                                                {{ mes.entity.field_fecha.value }}
                                                                <i class="fa fa-chevron-down pull-right after highlight"></i>
                                                            </a>
                                                        </p>
                                                    </div>
                                                    <div id="history-{{ loopAnio }}-{{ loopMes }}" class="panel-collapse collapse in">
                                                        <div class="panel-body">
                                                            {% for archivo in mes.entity.field_informes_h %}
                                                                <p>
                                                                    <a data-id="10546" href="/media/2985/10072019.pdf"
                                                                       target="_blank" title="10072019.pdf">
                                                                        10 de julio de 2019 - 5.64 USD/MBTU
                                                                    </a>
                                                                </p>
                                                            {% endfor %}
                                                        </div>
                                                    </div>

                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="left_col" class="col-sm-3 col-sm-pull-6" role="complementary"></div>
                <div id="right_col" class="col-sm-3" role="complementary"></div>
            </div>
        </div>
    </section>
{% else %}
    <script>window.location.href = '/user/login'</script>
{% endif %}
