<section class="content advanced-component banner">
    <div class="main-slider slides owl-carousel owl-loaded owl-drag">

        <div class="owl-stage-outer">
            <div class="owl-stage"
                 style="transform: translate3d(-2912px, 0px, 0px); transition: all 0s ease 0s; width: 7280px;">
                <div class="owl-item cloned" style="width: 1456px;">
                    <div class="item">
                        <div class="image">
                            <a>
                                <picture>
                                    <source media="(max-width: 480px)"
                                            srcset="/sites/default/files/banner_slider_home/dsc_0199-2_0.jpg">
                                    <img src="/sites/default/files/banner_slider_home/dsc_0199-2.jpg"
                                         title="Informes del Sector" alt="Informes del Sector">
                                </picture>
                            </a>
                        </div>
                        <div class="info">
                            <div class="container valign">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12 text-left pull-left">
                                        <p class="heading main">Informes del Sector</p>
                                        <div class="text">
                                            <p>Encuentre los informes que resumen el comportamiento transaccional y
                                                operativo del mercado de gas en Colombia.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 1456px;">
                    <div class="item">
                        <div class="image">
                            <a>
                                <picture>
                                    <source media="(max-width: 480px)"
                                            srcset="/sites/default/files/banner_slider_home/dsc_0199-2_0.jpg">
                                    <img src="/sites/default/files/banner_slider_home/dsc_0199-2.jpg"
                                         title="Informes del Sector" alt="Informes del Sector">
                                </picture>
                            </a>
                        </div>
                        <div class="info">
                            <div class="container valign">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12 text-left pull-left">
                                        <p class="heading main">Informes del Sector</p>
                                        <div class="text">
                                            <p>Encuentre los informes que resumen el comportamiento transaccional y
                                                operativo del mercado de gas en Colombia.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item active" style="width: 1456px;">
                    <div class="item">
                        <div class="image">
                            <a>
                                <picture>
                                    <source media="(max-width: 480px)"
                                            srcset="/sites/default/files/banner_slider_home/dsc_0199-2_0.jpg">
                                    <img src="/sites/default/files/banner_slider_home/dsc_0199-2.jpg"
                                         title="Informes del Sector" alt="Informes del Sector">
                                </picture>
                            </a>
                        </div>
                        <div class="info">
                            <div class="container valign">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12 text-left pull-left">
                                        <p class="heading main">Informes del Sector</p>
                                        <div class="text">
                                            <p>Encuentre los informes que resumen el comportamiento transaccional y
                                                operativo del mercado de gas en Colombia.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 1456px;">
                    <div class="item">
                        <div class="image">
                            <a>
                                <picture>
                                    <source media="(max-width: 480px)"
                                            srcset="/sites/default/files/banner_slider_home/dsc_0199-2_0.jpg">
                                    <img src="/sites/default/files/banner_slider_home/dsc_0199-2.jpg"
                                         title="Informes del Sector" alt="Informes del Sector">
                                </picture>
                            </a>
                        </div>
                        <div class="info">
                            <div class="container valign">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12 text-left pull-left">
                                        <p class="heading main">Informes del Sector</p>
                                        <div class="text">
                                            <p>Encuentre los informes que resumen el comportamiento transaccional y
                                                operativo del mercado de gas en Colombia.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 1456px;">
                    <div class="item">
                        <div class="image">
                            <a>
                                <picture>
                                    <source media="(max-width: 480px)"
                                            srcset="/sites/default/files/banner_slider_home/dsc_0199-2_0.jpg">
                                    <img src="/sites/default/files/banner_slider_home/dsc_0199-2.jpg"
                                         title="Informes del Sector" alt="Informes del Sector">
                                </picture>
                            </a>
                        </div>
                        <div class="info">
                            <div class="container valign">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12 text-left pull-left">
                                        <p class="heading main">Informes del Sector</p>
                                        <div class="text">
                                            <p>Encuentre los informes que resumen el comportamiento transaccional y
                                                operativo del mercado de gas en Colombia.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-nav disabled">
            <div class="owl-prev"><i class="fa fa-angle-left fa-3x"></i></div>
            <div class="owl-next"><i class="fa fa-angle-right fa-3x"></i></div>
        </div>
        <div class="owl-dots disabled"></div>
    </div>
</section>
<section class="content advanced-component banner">
    <div class="slides slick-initialized slick-slider">
        <div class="slick-list draggable" tabindex="0" style="height: 535px;">
            <div class="slick-track" style="opacity: 1;;">
                <div class="" index="0"
                     style="position: relative; left: 0px; top: 0px; z-index: 900; opacity: 1;">
                    <div class="image">
                        <picture>
                            <source media="(max-width: 480px)" srcset="{{ file_url(node.field_image.entity.fileuri) }}">
                            <img src="{{ file_url(node.field_image.entity.fileuri) }}">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content advanced-component grid secondary_colour_3-bg">
    <div class="" data-os-animation="fadeIn" data-os-animation-delay="0">
        <div class="umb-grid">
            <div class="grid-section">
                <div>
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <div>
                                    <h2 style="text-align: center;">{{ node.title.value }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% for bi in node.field_tables %}
    <section class="content advanced-component standard-components">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-12" role="main">    <!-- PAGE COMPONENT CODE -->
                    <div class="page_component codeblock">
                        <iframe width="100%" height="600"
                                src="{{ bi.value }}"
                                frameborder="0" allowfullscreen="true">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endfor %}

{{ drupal_block('registered_participants_block') }}
