{% if logged_in %}
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 itemprop="name headline">{{ node.title.value }}</h1>
                </div>
            </div>
            <div class="row">
                <div id="mid_col" class="col-sm-6 col-sm-push-3" role="main">
                    <div class="page_component image">
                        {% set imagestyle = {
                            '#theme':      'image_style',
                            '#style_name': 'large',
                            '#uri':        node.field_image.entity.uri.value,
                            '#alt':        '',
                        } %}
                        {{ imagestyle }}
                    </div>
                    <!--// IMAGE -->
                    <p style="padding-left: 30px;">
                        <span class="intro">{{ node.body.value | raw }}</span>
                    </p>
                    <div class="listing blog">
                        <div class="page_component alert alert-info alert-dismissible fade in" role="alert">
                            <div class="info">
                                <h4>
                                    &nbsp;Descargue histórico
                                    <strong>
                                        <em>
                                            <a data-id="10547" href="{{ file_url(node.field_archivo.entity.fileuri) }}" target="_blank" title="Histórico.xlsx">aquí</a>
                                        </em>
                                    </strong>
                                </h4>
                            </div>
                        </div>
                        <div>
                            {{ drupal_block('archivo_informe_prime_igas_block') }}
                        </div>
                    </div>
                </div>
                <div id="left_col" class="col-sm-3 col-sm-pull-6" role="complementary"></div>
                <div id="right_col" class="col-sm-3" role="complementary"></div>
            </div>
        </div>
    </section>
{% else %}
    <script>window.location.href = '/user/login'</script>
{% endif %}
