<!--<section class="content advanced-component banner">
    <div class="slides slick-initialized slick-slider">
        <div class="slick-list draggable" tabindex="0" style="height: 535px;">
            <div class="slick-track" style="opacity: 1;;">
                <div class="" index="0"
                     style="position: relative; left: 0px; top: 0px; z-index: 900; opacity: 1;">
                    <div class="image">
                        <picture>
                            <source media="(max-width: 480px)" srcset="{{ file_url(node.field_image.entity.fileuri) }}">
                            <img src="{{ file_url(node.field_image.entity.fileuri) }}">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content advanced-component grid secondary_colour_3-bg">
    <div class="" data-os-animation="fadeIn" data-os-animation-delay="0">
        <div class="umb-grid">
            <div class="grid-section">
                <div>
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <div>
                                    <h2 style="text-align: center;">{{ node.title.value }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->

{{ drupal_block('power_bi_block') }}

{% for bi in node.field_tables %}
    <section class="content advanced-component standard-components">
        <div class="container">
            <div class="row">
                <div class="col-md-12" role="main">
                    <div class="page_component codeblock">
                        <iframe width="100%" height="600"
                                src="{{ bi.value }}"
                                frameborder="0" allowfullscreen="true">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endfor %}

{{ drupal_block('registered_participants_block') }}
