<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="heading">{{ node.title.value }}</h1>
            </div>

        </div>
        <div class="row">
            <div id="right_col" class="col-sm-8 pull-right" role="main">
                <div class="page_component image">
                    {% set imagestyle = {
                        '#theme':      'image_style',
                        '#style_name': 'custom_750x362',
                        '#uri':        node.field_imagen_desktop.entity.uri.value,
                        '#alt':        '',
                    } %}
                    {{ imagestyle }}
                </div>

                <a id="pos_3706"></a>
                <div class="page_component textblock">
                    <h3 style="text-align: center; margin: 100px 0 30px 0;">Indicaciones para llegar</h3>
                </div>
                <a id="pos_1326"></a>
                <div class="page_component codeblock">
                    <iframe src="{{ node.field_mapa.0.url }}" width="100%" height="500" frameborder="0" style="border:0"
                            allowfullscreen=""></iframe>
                </div>
                <a id="pos_2037"></a>
                <div class="page_component textblock">
                    <h3 class="heading" style="text-align: center; margin-top: 150px;">Herramientas de Ayuda</h3>
                </div>
                <a id="pos_2031"></a>
                <div class="page_component resources">
                    <div class="list-group">
                        {% for enlaces in node.field_enlaces %}
                            {% if enlaces.entity.field_archivo.entity.field_link %}
                                {% for item1 in enlaces.entity.field_archivo.entity.field_link %}
                                    <a href="{{ item1.url }}"
                                       class="item list-group-item even">
                                        <p class="heading primary_colour_1-text">{{ item1.url }}<i
                                                    class="fa fa-chain pull-right after highlight primary_colour_1-text"></i>
                                        </p>
                                        <div class="text list-group-item-text">
                                            <p>{{ enlaces.entity.field_descripcion.value }}</p>
                                        </div>

                                    </a>
                                {% endfor %}
                            {% else %}
                                <a href="{{ file_url(enlaces.entity.field_archivo.entity.fileuri) }}"
                                   title="Link will open in a new window/tab" target="blank"
                                   class="item list-group-item odd">
                                    <p class="heading primary_colour_1-text">{{ enlaces.entity.field_label_archivo.value }}
                                        <i class="fa fa-external-link pull-right after highlight primary_colour_1-text"></i>
                                    </p>
                                    <div class="text list-group-item-text">
                                        <p>{{ enlaces.entity.field_descripcion.value }}</p></div>
                                    <div class="size">Link externo - {{ file_url(enlaces.entity.field_archivo.entity.fileuri) }}</div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div id="left_col" class="col-sm-4 col-lg-3 pull-left" role="complementary">
                <div class="promo_pods ">
                    <div class="item panel panel-default odd">
                        <div class="panel-body primary_colour_2-bg">
                            <p class="heading secondary_colour_3-text">Nuestras Oficinas </p>
                            <div class="info">
                                <div class="text secondary_colour_3-text"><p>Calle 113 No. 7-21<br>Piso 15 Torre A <br>Edif.&nbsp;Teleport
                                        Business Park<br>Pbx: +57(1) 629-2529<br>Bogotá D.C., Colombia</p></div>
                            </div>
                        </div>
                    </div>

                    <div class="item panel panel-default even">
                        <div class="panel-body secondary_colour_3-bg">
                            <p class="heading primary_colour_1-text">Documentos de registro ante el Gestor </p>
                            <div class="info">
                                <div class="text "><p>&nbsp;</p>
                                    <p><span class="intro"><a data-id="3058"
                                                              href="/normatividad/documentos-de-registro-ante-el-gestor/page-components/vinculación/"
                                                              title="Vinculación">- Vinculación</a></span></p>
                                    <p>&nbsp;</p>
                                    <p><span class="intro"><a data-id="3061"
                                                              href="/normatividad/documentos-de-registro-ante-el-gestor#pos_3061"
                                                              title="Actualización">- Actualización</a></span></p></div>


                            </div>
                        </div>
                    </div>

                    <div class="item panel panel-default odd">
                        <div class="panel-body primary_colour_1-bg">
                            <a href="/sitios-de-interés/"><p class="heading secondary_colour_3-text">Sitios de
                                    Interés </p></a>
                            <div class="info">
                                <div class="text secondary_colour_3-text"><p>Conozca&nbsp;todas las entidades que hacen
                                        parte del sector del Gas Natural&nbsp;en Colombia.</p></div>

                                <p class="link"><a href="/sitios-de-interés/"
                                                   class="btn primary_colour_2-bg secondary_colour_3-text">Ver todos</a>
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="item lists panel panel-default even">
                        {{ drupal_block('recent_publications_block') }}
                    </div>

                </div>

                <!--// PROMO PODS -->
            </div>

        </div>
        <!--// ROW -->


    </div>
</section>
<section style="background-color: rgba(46,137,182,1);"
         class="content advanced-component cta-strip secondary_colour_1-bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 style="color: #FFF;" class="main secondary_colour_3-text">Participantes Inscritos</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div class="text secondary_colour_3-text">
                    <p><span style="color: #FFF;" class="intro">Conozca&nbsp;la información relacionada con&nbsp;los participantes y su rol dentro del mercado mayorista de Gas Natural en Colombia, tales como Productores-Comercializadores, Comercializadores, Comercializadores de Gas Importado, Transportadores, Generadores Térmicos y Usuarios no Regulados.&nbsp;Regístrese&nbsp;como participante.</span>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 pull-right">
                <p class="link">
                    <a style="background-color: rgba(102,201,137,1);"
                       class="btn btn-block btn-lg primary_colour_2-bg secondary_colour_3-text"
                       href="/participantes/">
                        Conocer los Participantes
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>