<nav class="sub panel panel-default">
    {% if terms %}
        <p class="heading primary_colour_1-text"><span>Categorías</span></p>
        <ul class="nav">
            {% for term in terms %}
                <li class="odd">
                    {% if term.name == 'Ayudas audivisuales' %}
                        <a href="/publicaciones/ayudas-audiovisuales" rel="NOINDEX, FOLLOW">
                            {{ term.name }}
                        </a>
                    {% else %}
                        <a href="/publicaciones/?categoria={{ term.name }}" rel="NOINDEX, FOLLOW">
                            {{ term.name }}
                        </a>
                    {% endif %}
                </li>
                {% if term.child %}
                    <ul>
                        {% for child in term.child %}
                            <a href="/publicaciones/?categoria={{ child.name }}" rel="NOINDEX, FOLLOW">
                                {{ child.name }}
                            </a>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</nav>