<div class="header-section">
    <h2 class="color-text-blue">Le puede interesar</h2>
    <hr class="x1"/>
</div>
{% if interests %}
    {% for interest in interests %}
        <article>
            <h2 class="back-h2">.</h2>
            {% set imagestyle = {
                '#theme':      'image_style',
                '#style_name': 'custom_70x55',
                '#uri':        interest.field_imagen_desktop.entity.uri.value,
                '#alt':        '',
            } %}
            <div class="wrapper-image">
                <a href="{{ interest.field_modulo_1.value }}" title="{{ interest.get('title').value }}">
                    {{ imagestyle }}
                </a>
            </div>
            <div class="content">
                <a href="{{ interest.field_modulo_1.value }}" title="{{ interest.get('title').value }}">
                    {{ interest.get('title').value }}
                </a>
            </div>
        </article>
    {% endfor %}
{% endif %}
