<section class="content advanced-component publications">
    <div data-os-animation="fadeIn" data-os-animation-delay="0">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 column">
                        <div class="header-section col-md-12 col-xs-12">
                            <h1 class="color-text-blue">Noticias del Gestor</h1>

                            <p>Conozca la regulación vigente, eventos, fechas importantes y documentos del Gestor de Gas
                                Natural.</p>
                        </div>

                        {% if publicaciones %}
                            {% for empresa in publicaciones %}
                                <article>
                                    <h2 class="back-h2">.</h2>
                                    {% set imagestyle = {
                                        '#theme':      'image_style',
                                        '#style_name': 'custom_118x120',
                                        '#uri':        empresa.field_imagen_desktop.entity.uri.value,
                                        '#alt':        '',
                                    } %}
                                    <div class="wrapper-image">
                                        <a href="{{ path('entity.node.canonical', {'node': empresa.id}) }}">
                                            {{ imagestyle }}
                                        </a>
                                    </div>
                                    <div class="content">
                                        <a style="z-index: 1000; position: relative" href="{{ path('entity.node.canonical', {'node': empresa.id}) }}">
                                            {{ empresa.get('title').value }}
                                        </a>
                                        <em>{{ empresa.published_at.value|date('j M Y') }}</em>
                                        <p>{{ empresa.get('field_descripcion').value }}</p>
                                    </div>
                                </article>
                            {% endfor %}
                        {% endif %}

                        <div class="wrapper-cta">
                            <a class="btn btn-blue pull-left" href="/publicaciones?categoria=Noticias%20del%20Gestor">Ver otras Noticias del Gestor</a>
                        </div>
                    </div>

                    <div class="col-md-6 column">
                        <div>
                            <div class="header-section col-md-12 col-xs-12">
                                <h1 class="color-text-blue">Resultados del Mercado</h1>
                            </div>

                            <div class="wrapper-chart">
                                <iframe id="becchartframe_left_1"
                                        src="http://www.bmcbec.com.co/App_Plugins/BECCharts/front-end/cuadro-mercado-resumen-de-contratos-homepage-marquee.cshtml"></iframe>
                            </div>
                        </div>

                        <div>
                            <div class="header-section col-md-12 col-xs-12">
                                <h1 class="color-text-blue">Comportamiento Transaccional del Mercado</h1>

                                <p>En esta gráfica se puede visualizar el comportamiento del mercado en términos de
                                    precios (expresados en USD/MBTU), negociados según la modalidad contractual para
                                    cada uno de los mercados.</p>

                                <div class="wrapper-chart">
                                    <iframe id="becchartframe_left"
                                            src="http://www.bmcbec.com.co/App_Plugins/BECCharts/front-end/cuadro-mercado-comportamiento-transaccional-mercado-homepage.cshtml"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

