<section class="content advanced-component grid secondary_colour_3-bg">
    <div class="" data-os-animation="fadeIn" data-os-animation-delay="0">
        <div class="umb-grid">
            <div class="grid-section">
                <div>
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <div>
                                    <h1 class="heading">Ayudas Audiovisuales</h1>
                                    <p style="text-align: justify;">
                                        <span class="intro">Material informativo que le ayudará a entender&nbsp;la estructura y funcionamiento del&nbsp;Mercado de Gas Natural en Colombia.</span>
                                    </p>
                                    <p>&nbsp; &nbsp;&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <div>
                                    {% set resultados = view.result %}
                                    {% for key , row in resultados %}
                                        {% set data = row._entity %}
                                        {% if key < 2 %}
                                            <p>
                                                <iframe width="100%" height="700"
                                                        src="{{ data.field_ayuda_audiovisual[0].value }}"
                                                        frameborder="0" allow="autoplay; encrypted-media"
                                                        allowfullscreen=""></iframe>
                                            </p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% set resultados = view.result %}
                {% for key , row in resultados|slice(2) %}
                    {% set data = row._entity %}
                    {% if key is divisible by(3) or key == 0 %}
                        <div>
                            <div class="container">
                                <div class="row clearfix">
                    {% endif %}
                                    <div class="col-md-4 column">
                                        <div>
                                            <p>
                                                <iframe width="360" height="203" src="{{ data.field_ayuda_audiovisual[0].value }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                                            </p>
                                            <h5 style="text-align: center;">
                                                <a href="{{ path('entity.node.canonical', {'node': data.id}) }}" target="_top">
                                                    {{ data.title.value }}
                                                </a>
                                            </h5>video
                                            <p style="text-align: center;">{{ data.created.value|format_date('video') }}</p>
                                        </div>
                                    </div>
                    {% if key is divisible by(3) and key > 0 %}
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="container">
                                <div class="row clearfix">
                                    <div class="col-md-12 column">
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div>
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <div>
                                    <h5 style="text-align: center;">&nbsp; &nbsp;</h5>
                                    <p>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                                    <h5 style="text-align: center;">
                                        <a href="/publicaciones/?category=2875" target="_top" title="Audiovisuales">
                                            <strong>Ver más Ayudas Audiovisuales</strong>
                                        </a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>