<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {{ drupal_block('title_filters_categories_block') }}
            </div>
        </div>
        <div class="row">
            <div id="mid_col" class="col-sm-6 col-sm-push-3" role="main">
                <div class="listing blog">
                    {% set resultados = view.result %}
                    {% for key , row in resultados %}
                        {% set data = row._entity %}
                        <div class="item even" itemscope="" itemtype="http://schema.org/BlogPosting">
                            <a href="{{ path('entity.node.canonical', {'node': data.id}) }}">
                                <div class="image">
                                    <img alt="img" src="{{ file_url(data.field_imagen_desktop[0].entity.fileuri) }}">
                                </div>
                                <p class="heading" itemprop="name headline">
                                    {{ data.field_titulo[0].value }}
                                </p>
                            </a>
                            <div class="info">
                                <div class="text" itemprop="articleBody">
                                    <p>{{ data.field_descripcion[0].value }}</p>
                                </div>
                            </div>
                            <div class="meta panel panel-default">
                                <div class="panel-body">
                                    <div>
                                        <span class="author" itemprop="author" itemscope=""
                                              itemtype="http://schema.org/Person">
                                            Publicado por BEC el
                                        </span>
                                        <time itemprop="datePublished"
                                              datetime="{{ data.created.value|date('Y-m-d') }}">
                                            <span class="date">{{ data.created.value|format_date('video') }}</span>
                                        </time>
                                    </div>
                                    <div class="row">
                                        <span class="categories col-sm-6 text-right col-xs-12 text-left-xs pull-right">
                                            <span>
                                                <a href="/publicaciones?categoria=Noticias del Gestor"
                                                   title="Noticias del Gestor"
                                                   rel="NOINDEX, FOLLOW">Noticias del Gestor</a>,
                                            </span>
                                            <span>
                                                <a href="/publicaciones?categoria=Noticias" title="Noticias"
                                                   rel="NOINDEX, FOLLOW">
                                                    Noticias
                                                </a>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {{ pager }}
            </div>
            <div id="left_col" class="col-sm-3 col-sm-pull-6" role="complementary">
                {{ drupal_block('filters_publications_block') }}

                {{ drupal_block('filters_categories_block') }}
            </div>
            <div id="right_col" class="col-sm-3" role="complementary">
                <div class="promo_pods ">
                    <div class="item codeblock odd">
                        &nbsp;&nbsp;
                    </div>
                    <div class="item panel panel-default even">
                        <div class="panel-body primary_colour_2-bg">
                            <p class="heading secondary_colour_3-text">Nuestras Oficinas </p>
                            <div class="info">
                                <div class="text secondary_colour_3-text"><p>Calle 113 No. 7-21<br>Piso 15 Torre A <br>Edif.&nbsp;Teleport
                                        Business Park<br>Pbx: +57(1) 629-2529<br>Bogotá D.C., Colombia</p></div>
                                <p class="link"><a href="/contáctenos/#pos_1327"
                                                   class="btn secondary_colour_3-bg primary_colour_1-text">Escríbanos
                                        sus comentarios</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// SUB -->
            </div>
        </div>
        <!--// ROW -->
    </div>
</section>
