{%  set resultados = view.result  %}
    {% for key , row in resultados %}
      {%  set data = row._entity  %}
      {% if data.field_posicion_contenido[0].value == "izquierda" %}
        {% if data.field_fondo[0].value == "azul" %}
          {%  set class = "color-bg-main-blue"  %}
        {% elseif data.field_fondo[0].value == "gris" %}
          {%  set class = "color-bg-main-gray"  %}
        {% endif %}
        <section class="content advanced-component text-with-image_video {{ class }}">
          <div class="container">
            <!-- ROW -->
            <div class="row">
              <div class="col-md-5 col-xs-12 pull-right os-animation animated fadeIn" data-os-animation="fadeIn" data-os-animation-delay="0">
                <div class="row">
                  <!-- INFO -->
                  <div class="header-section col-md-12 col-sm-10 col-xs-12">
                    <h2 class="color-text-blue">{{ data.field_titulo[0].value }}</h2>
                    <div class="text">
                      {{ data.field_descripcion_html[0].value|raw }}
                    </div>

                    <!--Las clases "btn-blue" "btn-green" definen el color del boton-->

                      {% if data.field_tipo_cta[0].value =="verde" %}
                        <a class="btn btn-green pull-left" href="{{ data.field_cta[0].url }}">{{ data.field_cta[0].title }}</a>
                      {% endif %}
                      {% if data.field_tipo_cta[0].value =="azul" %}
                        <a class="btn btn-blue pull-left" href="{{ data.field_cta[0].url }}">{{ data.field_cta[0].title }}</a>
                      {% endif %}
                  </div>
                  <!--// INFO -->
                </div>
              </div>

              <div class="col-md-6 col-xs-12 pull-left">
                <div class="image video os-animation animated fadeInLeft" data-os-animation="fadeInLeft" data-os-animation-delay="0">
                  <img src="{{file_url(data.field_imagen_desktop[0].entity.fileuri)}}" title="{{data.field_imagen_desktop[0].title}}" alt="{{data.field_imagen_desktop[0].alt}}">
                </div>
              </div>
            </div>
            <!--// ROW -->
          </div>
        </section>
      {% endif %}
      {% if data.field_posicion_contenido[0].value == "derecha" %}
        {% if data.field_fondo[0].value == "azul" %}
          {%  set class = "color-bg-main-blue"  %}
        {% elseif data.field_fondo[0].value == "gris" %}
          {%  set class = "color-bg-main-gray"  %}
        {% endif %}
        <section class="content advanced-component text-with-image_video {{ class }}"><!--Las clases "color-bg-main-blue" "color-bg-sec-blue" "color-bg-main-gray" "color-bg-green" definen el color de fondo -->
          <div class="container">
            <!-- ROW -->
            <div class="row">
              <div class="col-md-5 col-xs-12 pull-left os-animation animated fadeIn" data-os-animation="fadeIn" data-os-animation-delay="0">
                <div class="row">
                  <!-- INFO -->
                  <div class="header-section col-md-12 col-sm-10 col-xs-12">
                    <h2 class="color-text-white">{{ data.field_titulo[0].value }}</h2>
                    <p class="intro color-text-white">
                      {{ data.field_subtitulo[0].value }}
                    </p>
                    <div class="text color-text-white">
                      {{ data.field_descripcion_html[0].value|raw }}
                    </div>

                    <!--Las clases "btn-blue" "btn-green" definen el color del boton -->
                      {% if data.field_tipo_cta[0].value =="verde" %}
                        <a class="btn btn-green pull-left" href="{{ data.field_cta[0].url }}">{{ data.field_cta[0].title }}</a>
                      {% endif %}
                      {% if data.field_tipo_cta[0].value =="azul" %}
                        <a class="btn btn-blue pull-left" href="{{ data.field_cta[0].url }}">{{ data.field_cta[0].title }}</a>
                      {% endif %}
                  </div>
                  <!--// INFO -->
                </div>
              </div>

              <div class="col-md-6 col-xs-12 pull-right">
                <div class="image video os-animation animated fadeInLeft" data-os-animation="fadeInLeft" data-os-animation-delay="0">
                  <img src="{{file_url(data.field_imagen_desktop[0].entity.fileuri)}}" title="{{data.field_imagen_desktop[0].title}}" alt="{{data.field_imagen_desktop[0].alt}}">
                </div>
              </div>
            </div>
            <!--// ROW -->
          </div>
        </section>
      {% endif %}
    {% endfor %}
