{%  set resultados = view.result  %}
<div class="col-md-4 aside">
  {% for key , row in resultados %}
    {%  set data = row._entity  %}
      <div class="header-section">
        <h2 class="color-text-blue">{{ data.field_titulo[0].value }}</h2>
        <hr class="x1">
      </div>
      {% for key1, item in data.field_slide_imagenes %}
        <article>
          <div class="wrapper-image">
            <a href="{{item.entity.field_link.url}}" title="{{item.entity.field_link.title}}">
              <img src="{{ file_url(item.entity.field_imagen.entity.fileuri) }}" alt="{{item.entity.field_imagen.alt}}" title="{{item.entity.field_imagen.title}}">
            </a>
          </div>
          <div class="content">
            <a href="{{item.entity.field_link.url}}" target="" title="{{item.entity.field_link.title}}">{{item.entity.field_link.title}}</a>
          </div>
        </article>
      {% endfor %}
  {% endfor %}
</div>
