{%  set resultados = view.result  %}
<section class="content advanced-component image-carousel">
	<div class="container">
    {% for key , row in resultados %}
      {%  set data = row._entity  %}
      <div class="row overview os-animation animated fadeIn" data-os-animation="fadeIn" data-os-animation-delay="0s" style="animation-delay: 0s;">
        <div class="header-section col-md-8 col-sm-10 col-xs-12">
          <h2 class="color-text-blue">{{ data.field_titulo[0].value }}</h2>
          <div class="text ">
            {{ data.body[0].value|raw }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="gallery slides owl-carousel">
            {% for key1, item in data.field_slide_imagenes %}
              <div class="item">
                <div class="image">
                  <a href="{{item.entity.field_link.url}}" title="{{item.entity.field_imagen.titles}}" target="blank">
                    <img src="{{ file_url(item.entity.field_imagen.entity.fileuri) }}?anchor=center&mode=crop&width=300&height=160&rnd=131157462210000000" alt="{{item.entity.field_imagen.alt}}" title="{{item.entity.field_imagen.title}}">
                    <div class="overlayicon">
                      <i class="fa fa-external-link after"></i>
                    </div>
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
	</div>
</section>
