<section class="content advanced-component grid">
    <div class="" data-os-animation="fadeIn" data-os-animation-delay="0">
      <div class="container">
        <div class="row">
          {% for item in data %}
            <div class="col-md-6">
              <h2>{{item.entity.field_titulo.value }}</h2>
              <div class="wrapper-image">
                <img src="{{file_url(item.entity.field_imagen.entity.fileuri)}}" title="{{item.entity.field_imagen.title}}" alt="{{item.entity.field_imagen.alt}}">
              </div>
              <div class="content">
                <blockquote>
                  {{item.entity.field_descripcion_1.value|raw }}
                </blockquote>
                <h3><a href="{{item.entity.field_link.url}}" title="{{item.entity.field_link.title}}">{{item.entity.field_link.title}}</a></h3>
              </div>
              {% include 'page-component-accordion-1.html.twig' with {'data': item.entity.field_acordeon_1, 'loop': loop.index } %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
