<div class="item panel lists">
    <div class="panel-body">
        <div class="listing blog">
            <p class="heading">{{ data.field_titulo.value }}</p>
			{% for item in data.field_links_fecha %}
                <div class="item">
                    <div class="info">
                        <a href="{{ item.entity.field_link.uri }}">
                            <p class="heading">
                                {{ item.entity.field_link.title }}
                            </p>
                        </a>
                    </div>
                    <div class="meta">
                        <div>
                            <time><span class="date">{{ item.entity.field_fecha.value }}</span></time>
                        </div>
                    </div>
                </div>
			{% endfor %}
        </div>
        <a class="see_all" href="{{ data.field_link.uri }}">{{ data.field_link.title }}</a>
    </div>
</div>
