<div class="row page_component gallery">
	<div class="item col-md-4 col-xs-6">
		<div class="image">
			<a href="{{file_url(data.field_imagen.entity.fileuri)}}" data-title="{{data.field_imagen..title}}" target="" data-toggle="lightbox" data-type="image" data-gallery="galleryname-1470">
				<img src="{{file_url(data.field_imagen.entity.fileuri)}}" title="{{data.field_imagen..title}}" alt="{{data.field_imagen..alt}}">
				<div class="overlayicon"><i class="fa fa-expand"></i></div>
			</a>
		</div>
	</div>
</div>
