<div class="row page_component gallery">
    <div class="item col-md-4 col-xs-6">
        <div class="image">
            <a href="{{ file_url(data.field_imagen.entity.fileuri) }}" data-title="{{ data.field_imagen.title }}"
               data-toggle="lightbox" data-type="image" data-gallery="galleryname-1470">
                <img src="{{ file_url(data.field_imagen.entity.fileuri) }}" title="{{ data.field_imagen.title }}"
                     alt="{{ data.field_imagenalt }}">
                <div class="overlayicon"><i class="fa fa-expand"></i></div>
            </a>
        </div>
    </div>
</div>

<a href="#" class="pop">
    <img src="https://cdn.pixabay.com/photo/2018/07/31/22/08/lion-3576045_1280.jpg" style="width: 400px; height: 264px;">
</a>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <img src="" class="imagepreview" style="width: 100%;" >
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        $('.pop').on('click', function() {
            $('.imagepreview').attr('src', $(this).find('img').attr('src'));
            $('#imagemodal').modal('show');
        });
    });
</script>