<section class="content advanced-component banner">
    <div class="main-slider slides owl-carousel">
        <div class="item">
            <div class="image">
                <a>
                    <picture>
                        <source media="(max-width: 480px)" srcset="{{file_url(data.field_imagen_mobile.entity.fileuri)}}">
			                  <img src="{{file_url(data.field_imagen_desktop.entity.fileuri)}}" title="{{data.field_imagen_desktop.title}}" alt="{{data.field_imagen_desktop.alt}}">
                    </picture>
                </a>
            </div>
            <div class="info">
                <div class="container valign">
                    <div class="row">
                        <div class="col-md-6 col-xs-12 text-right pull-right">
                            <p class="heading main">{{ data.field_titulo.value }}</p>
                            <div class="text">
                                {{ data.field_descripcion_html.value|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
