<div class="page_component listing ">
    <div class="item row">
        <div class="col-sm-4 col-xs-12 text-right pull-right">
            <div class="image">
                <img src="{{file_url(data.field_imagen.entity.fileuri)}}" title="{{data.field_imagen.title}}" alt="{{data.field_imagenalt}}">
            </div>
        </div>
        <div class="info col-sm-8 col-xs-12 pull-left">
            <p class="heading">{{ data.field_titulo.value }}</p>
            <div class="text">
            	<p>{{ data.field_descripcion.value }}</p>
            </div>
        </div>
    </div>
</div>
