<section class="content advanced-component grid">
	<div class="" data-os-animation="fadeIn" data-os-animation-delay="0">
		<div class="container">
			<div class="row">
			  {% for item in data %}
          <div class="col-md-3 text-center">
            <div class="wrapper-image">
              <img src="{{file_url(item.entity.field_imagen.entity.fileuri)}}" title="{{item.entity.field_imagen..title}}" alt="{{item.entity.field_imagen..alt}}">
            </div>
            <div class="content">
              {% for item1 in item.entity.field_link %}
                <h3><a href="{{ item1.url }}" title="{{ item1.title }}">{{ item.entity.field_titulo.value }}</a></h3>
                {% endfor %}
            </div>
          </div>
			  {% endfor %}
			</div>
		</div>
	</div>
</section>
