<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="heading">Acceso Prime</h1>
            </div>
        </div>
        <div class="row">
            <div id="left_col" class="col-sm-8" role="main">
                <p style="text-align: center;">
                    <img style="width: 100%; height: auto;" src="/media/1974/plantilla-banner-web-premium_21.png" data-id="4009">
                </p>
                <p>&nbsp;</p>
                <p style="text-align: right;">
                    <a style="background-color: rgba(11,90,156,1);" href="{{ path('user.register') }}" title="Registro a Prime" class="btn primary_colour_1-bg secondary_colour_3-text">
                        <span>Aún no estoy inscrito, registrarme</span>
                    </a>
                </p>
                <p>&nbsp;</p>
                <p style="text-align: justify;">Si ya está registrado, ingrese al&nbsp;<em><strong>Acceso Prime</strong></em>&nbsp;con
                    su correo electrónico (usuario)&nbsp;y contraseña, enviados porterior al Congreso Naturgas 2018</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <div class="login" style="margin:10px; padding:20px; background-color:#f9f9f9; border:1px #CCC solid;">
                    <fieldset>
                        <legend>{{ title }}</legend>
                        {{ messages }}

                        {{ page.content }}

                        <div id="login_bottom_part">
                            {% if create_accounts %}
                                <div class="password_link">
                                    <a href="{{ path('user.pass') }}">{{ '¿Olvido su contraseña?'|t }}</a>
                                </div>
                            {% endif %}
                        </div>
                    </fieldset>
                </div>
            </div>
            <div id="right_col" class="col-sm-4 col-lg-3 col-lg-offset-1" role="complementary">
                <div class="promo_pods ">
                    <div class="item panel panel-default odd">
                        <div class="panel-body primary_colour_2-bg">
                            <p class="heading secondary_colour_3-text">Nuestras Oficinas </p>
                            <div class="info">
                                <div class="text secondary_colour_3-text">
                                    <p>Calle 113 No. 7-21<br>Piso 15 Torre A
                                        <br>Edif.&nbsp;Teleport Business Park
                                        <br>Pbx: +57(1) 629-2529
                                        <br>Bogotá D.C., Colombia
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item codeblock even">
                        &nbsp;&nbsp;
                    </div>
                    <div class="item lists panel panel-default odd">
                        {{ drupal_block('recent_publications_block') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .breadcrumb {
        display: none;
    }
</style>